body{
    background-image: url("images/background-01.png") ;
}

#trash-top{
    background-image: url("images/trash-top.png");
    height: 24vh;
}

#second-section{
    background-image: url("images/trash-center.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 56vh;
}

#trash-bottom{
    background-image: url("images/trash-bottom.png");
    height: 24vh;
}

.herbPosition{
    position: absolute;
    top: 500vh;
    width: 100px;
    
}